@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');
/* actve - container */
/* navbar */
.navbar-1{
  width: 100%;
  min-height: 95px;
  z-index: 1000;
  background: rgba(90, 89, 89, 0.1  );
  transition: 0.2s ease;
}
header.scrolled .navbar-1{
  background: rgba(90, 89, 89, 0.9);
}
.ustun-1{
  height: 670px;
}
.img-1{
  width: 200px;
  border-radius: 10px;
  /* box-shadow: 5px 5px 5px  rgb(244, 244, 18); */
}
.navbar a{
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 16px;
}
.button-1s{
  width: 120px;
  height: 50px;
  background-color: yellow;
  border-radius: 8px;
  color: black;
  font-weight: 500;
  font-size: 18px;
}
.button:hover{
  transition: 2s;
  background-color: rgb(255, 221, 0)
}
.navigation a{
  position: relative;
  font-size: 1.1em;
  color: yellow;
  text-decoration: none;
  font-weight: 500;
  /* margin-left: 40px; */
}
.navigation a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: yellow;
  border-bottom: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition:transform .5s;
}
.navigation a:hover::after{
transition:transform .5s;
transform-origin: left;
transform: scaleX(1);
}
/* navbar end */

.bg-image{
  background-image: url(../photo_2024-01-11_11-42-15.jpg);
  background-size: cover;
  backdrop-filter: 0px;
  /* filter: hue-rotate(90deg); */
  /* display: block; */
}
.text{
  color: rgb(255, 255, 80);
  /* background-color: aqua; */
}
.gap-6{
  gap: 100px;
}
.button-1,.button-2{
  width: 200px;
  height: 45px;
  margin-top: 60px;
  gap: 40px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  transition: 0.3s ease;
  background-color: yellow;
  color: black;
}
.container-1{
  width: 100%;
  height: 600px;
  background-image: url(../photo_2024-01-11_11-42-15.jpg);
}
.container-2{
  width: 100%;
  height: 600px;
  display: flex;
  /* background-color: black; */
  background: #070F19BF;

}
/* active-container end */
/* .konsultatsiya */
.konsultatsiya .border-6{
  height: 310px;
  border: 1px solid yellow;
  border-radius: 10px;
  padding-left: 30px;
}
.fs{
  font-size: 13px;
}
.konsultatsiya .input-1{
  width: 320px;
  background-color: #eee;
  border: none;
  margin: 8px 0;
 padding: 7px 15px;
  font-size: 13px;
  border-radius: 8px;
  outline: none;
}
.konsultatsiya button{
  background-color: yellow;
  color: #000;  
  width: 320px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
}
/* .konsultatsiya end */
/* universitet haqida */
.unversitet-haqida{
  width: 100%;
}
.unversitet-haqida h3{
  color: yellow ;
}
.unversitet-haqida .p1{
  color: white;
  font-size: 23px;
}
.unversitet-haqida .p2{
  color: white;
  font-size: 15px;
}
.color{
  color: yellow;
}
.unversitet-haqida .button-3{
  background-color: yellow;
  width: 150px;
  height: 45px;
  font-size: 17px;
  border-radius: 12px;
  margin-top: 30px;
}
/* .unversitet-haqida end */
.mutahasislar h3{
  color: yellow ;
}
/* mutahasislar  */

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: yellow;
  border-radius: 25px 25px 0 25px; 
}
.overlay::before,
.overlay::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: yellow;
  border-left: none;
}
.overlay::after{
  border-radius: 0 25px 0 0 ;
  background:rgb(57, 56, 56);
}
.mt-2{
  margin-top: 20px;
}
.img-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px ;
}
.img-content{
  position: relative;
  row-gap: 5px;
  border-radius: 25px 25px 0 25px;
  padding: 25px 0;
}
.card{
  border-radius: 25px;
  background:rgb(57, 56, 56);
  color: yellow;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: yellow;
}
.description{
  font-size: 14px;
  color: white;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: black;
  padding: 8px 16px;
  background-color: yellow;
  border-radius: 6px;
  margin: 14px;
  transition: all 0.3s ease;
}
.swiper-button-next{
  position: absolute;
  right: 0;
  z-index: 1000;
  color: yellow;
}
.swiper-button-prev{
  left: 0;
  color: yellow;
}
@media screen and (max-widht:768px) {
  .swiper-button-next,.swiper-button-prev{
    display: none;
  }
  .slide-content{
    margin: 0 10px;
  }
}

/* mutahasislar end */
/* .yonalishlar */
.widht{
  width: 270px;
  height: 150px;
  border:1px solid yellow;
  border-radius: 10px;
  transition: 2s;
  overflow: hidden;
  cursor: pointer;
}
.yonalishlar .widht:hover{
  .yonalishlar h5 , p , .card-1{
    display: none;
  }
}
.yonalishlar .img-1a{ 
  transition: all 3s ease-in-out;
}
.yonalishlar .img-1a:hover{
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  background-image: url(../img/front-1.jpg);
  background-size: cover;
  color: white;
}
.yonalishlar .img-2a:hover{
  background-image: url(../img/back\ end.png);
  transform: scaleX(1);
  background-size: cover;
  transition: 2s;
}
.yonalishlar .img-3a:hover{
  background-image: url(../img/smm.jpg);
  transform: scaleX(1);
  background-size: cover;
  transition: 2s;
}
.yonalishlar .img-4a:hover{
  background-image: url(../img/full\ stack.png);
  transform: scaleX(1);
  background-size: cover;
  transition: 2s;
}
.yonalishlar .mb-3{
  bottom: -20px;
  right: 10px;
}
.yonalishlar .mb-2{
  right: 10px;
  bottom: 3px;
}
/* .yonalishlar end */
/* .savol */
.savol .border-6{
  border: 1px solid yellow;
  border-radius: 10px;
  height: 230px;
  padding: 10px 14px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  gap:15px;
}
/* .savol end */
/* konsultatsiya */
.konsultatsiya .container-1{
  display: block;
  background-image: url(../img/telephonee.jpg);
  background-size: cover;
  height: 400px;
  border-radius: 10px;
  border: 1px solid yellow;
}
/* konsultatsiya end */
/* .location */
.location .img1{
  width: 100%;
  height: 130px;
  /* border: 2px solid red; */
}
.line{
  width: 100%;
  height: 1px;
  background-color: yellow;
}
.color-1{
  color: rgb(125, 125, 11);
}
/* .location end */
/* futter */
.futter .widht-1{
  width: 1000px;
}
/* futter end */
@media screen and (max-width:480px) {
  .konsultatsiya .input-1{
    width: 100%;
  }
  .konsultatsiya.button{
    width: 100px;
  }
}

